/* site footer element */
.site-footer {
	margin: 0;
	padding: 1rem;
	background: #333;
  color: #777;
  
  .inner {
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-column-gap: 2rem;  

    @include tablet-up {
      margin: 0 auto;
      width: $content-tablet-up;
    }
  
    @include tablet-side {
      width: $content-tablet-side;
    }
    
    @include desktop {
      width: $content-desktop;
    }
  }
}
