.site-branding {
  display: flex;
  align-items: center;

  .custom-logo-link {

    img {
      width: 100%;
      height: auto;
      vertical-align: middle;
    }

    @include mobile {
      width: 120px;
      padding: 1rem;
    }
  }

  .site-title,
  .site-description {
    display: none;
  }

}