.admin-bar {
	.site-navigation-search-box {
		top: calc( 96px + 32px );

		@include tablet-up {
			height: calc(100vh - 96px - 32px);
			margin-bottom: calc(-100vh + 96px + 32px);
		}	
	}
}

.site-navigation-search-box {
  background: rgba(17,72,120,0.9);
  padding: 2rem;
  color: #fff;
  box-sizing: border-box;
  transition: ease-in-out 350ms all;
  z-index: 400;
  display: none;
  position: sticky;
  width: 100%;
	height: $hero-mobile-height;
	top: 96px;
	backdrop-filter: blur(10px);

  @include tablet-up {
		height: calc(100vh - 96px);
		margin-bottom: calc(-100vh + 96px);
  }
  
  &[data-show-search="true"] {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .content {

    @include tablet-up {

      margin: 0 auto;
    }

    @include tablet-side {

    }

  }
  
  @include tablet-up {

  }

  @include tablet-side {

  }
}

