/*
CSS For Gutenberg Blocks
*/
.alignwide,
.alignfull {
	margin: 1.5rem calc(50% - 50vw);
	max-width: 100vw;
  
  &:first-of-type {
    margin-top: 0;
  }
}

@media (max-width: 920px) {
	.alignwide {
		margin: 1.5rem calc( ( 767px - 920px ) / 2 );
		max-width: 920px;
		width: 920px;
  }
}

/* columns */
@include tablet-up {
  
  .wp-block-column:not(:first-child) {
    margin-left: 0;
  }
}

/* generic hero display */
.hero-display {

  @include tablet-up {
    margin-top: -4rem;
    z-index: 10000;
    position: relative;
  }
}

.collapse {
  margin-bottom: 0;
}