/*
CSS For Gutenberg Blocks
*/
.alignwide,
.alignfull {
	margin: 1.5rem calc(50% - 50vw);
	max-width: 100vw;
  
  &:first-of-type {
    margin-top: 0;
  }
}

@media (max-width: 920px) {
	.alignwide {
		margin: 1.5rem calc( ( 767px - 920px ) / 2 );
		max-width: 920px;
		width: 920px;
  }
}

/**
 * Accordion Block
 */
.wp-block-coblocks-accordion-item {
	margin: 0 0 0.5rem;

	summary {
		background: #eee;
		border-radius: 4px;
		padding: 0.5rem 1rem;
		outline: 0;
		cursor: pointer;
	}
}

/**
 * Post Grid
 */
.uagb-post__items {

	article {

		.uagb-post__inner-wrap {
			border-radius: 4px;

			h3 {
				line-height: 1.1;
			}

			img {
				width: 100%;
				height: auto;
			}

			.uagb-post__cta {
				background: $primary;
				border-radius: 4px;
				transition: all 85ms ease-out;
				
				a {
					font-weight: normal;
				}

				&:hover {
					background: $primary-hover;
				}
			}
		}
	}
}