.sidebar-search {
  padding: 0 1rem;

  @include tablet-side {
    padding: 0 4rem;
  }

  ul {
    display: grid;
    grid-template-columns: 1fr;
  
    @include tablet-side {
      grid-template-columns: 1fr 1fr;
      grid-column-gap: 2rem;
    }  

    li {

      a {
        color: #fff;
      }
    }
  }
}