/* site header background bar */
.site-header-background-bar {
  background: #efefef;
  position: absolute;
  height: 2.55rem;
  width: 100%;
  clear: both;
  z-index: 1;

  @include mobile {
    display: none;
  }
}

/* site header element */
.site-header {
  position: relative;
  z-index: 2;
  display: grid;
  grid-template-columns: 1fr;
  
  @include tablet-up {
    margin: 0 auto;
    width: $content-tablet-up;
    grid-template-columns: 120px 1fr 50px;
    grid-column-gap: 2rem;
  }

  @include tablet-side {
    grid-template-columns: 180px 1fr 50px;
    width: $content-tablet-side;
  }
  
  @include desktop {
    width: $content-desktop;
  }
  
  .site-branding {

    @include tablet-up {
      grid-row: 2;
      grid-column: 1;
    }
  }

  .site-navigation {

    @include tablet-up {
      grid-row: 2;
      grid-column: 2;
    }
  }

  .site-navigation-secondary {

    @include tablet-up {
      grid-row: 1;
      grid-column: 1 / span 3;
    }
  }

  .site-navigation-controls {

    @include tablet-up {
      grid-row: 2;
      grid-column: 3;
    }
  }

  .site-navigation-search-box {

    @include tablet-up {

    }
  }
}
