/**
 * Site Navigation Controls
 */
 .site-navigation-controls {
  display: flex;
  align-items: center;
  justify-content: flex-end;

  @include mobile {
    position: absolute;
    top: 0;
  }
}

@include mobile {
  .admin-bar {
  
    .site-navigation-controls {
      top: 15px;
      right: 75px;
    }
  }
}