.page-menu {

  ul {
    list-style: none;
		margin: 0;
		padding: 0;
    border-radius: 4px;

    li {
			margin-bottom: 0.25rem;
      &.current-menu-item {
        
        a {
					background: $primary;
					color: $primary-text;

					&:hover {
						background: $primary-hover;
					}
        }
      }

      a {
				padding: 0.25rem 0 0.25rem 0.5rem;
				margin-left: -0.5rem;
        text-decoration: none;
        display: block;
				transition: all 85ms ease-out;
				border-radius: 4px;

        &:hover,
        &:focus {
					background: #f7f7f7;
        }
      }

      ul {
        list-style: none;
        margin: 0;
        padding: 0;
      }
    }
  }
}